<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" />
		<link href="css/style.css" rel="stylesheet" />

		<title>الصفحة غير موجودة</title>
	</head>

	<body bgcolor="bisque">
		<nav class="main">
			<div class="container">
				<ul class="menu">
					<li class="li"
						><a href=""><strong>الرئيسية</strong></a></li
					>
					<li class="study"
						><a><strong>أخبار</strong></a>
						<ol class="sub-menu">
							<li><a id="sp" href="">الجامعة</a></li>
							<li><a id="sp" href="">الدراسة</a></li>
						</ol>
					</li>
					<li class="content-li"
						><a><strong>محتوى</strong></a>
						<ol class="sub-menu">
							<li class="arrow"
								><a id="sp"><strong>علمي</strong></a>
								<ol class="sub-sub-menu">
									<li><a id="sp" href="">Javascript</a></li>
									<li><a id="sp" href="">PHP</a></li>
									<li><a id="sp" href="">Python</a></li>
								</ol>
							</li>
							<li><a id="sp" href="">ديني</a></li>
						</ol>
					</li>
					<li class="li"
						><a href="#"><strong>من نكون</strong></a></li
					>
					<div class="logo">
						<a href="#"><img src="/img/logo.png" /></a>
					</div>
				</ul>
			</div>
		</nav>

		<div class="cls"></div>
		<div class="top"></div>
		<p></p>
      <br><br>
		<div class="container" dir="ltr" align="center">
         <h1>
            Oops, page not found :)
         </h1>
      </div>

		<br /><br />
		
		<script src="js/booksList.js"></script>
	</body>
</html>
