<html dir="rtl">
	<head>
		<meta charset="utf-8" />
		<title>اضافة ادمن جديد</title>
		<link href="css/style.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<nav>
			<div class="container">
				<ul>
					<li><a href="/">الرئيسية</a></li>
					<li><a href="/nabtker/dashboard">لوحه التحكم</a></li>
					<div class="logo">
						<a href="#"><img src="img/logo.png" /></a>
					</div>
				</ul>
			</div>
		</nav>
		<div class="cls"></div>
		<div class="top"></div>
		<div class="container">
			<div class="login">
				<h2>اضافة ادمن جديد</h2>
				<form action="/addNewAdmin" method="POST" autocomplete="off">
					<input type="text" name="name" id="name" placeholder="الاسم "  required/>
					<input type="username" name="username" id="username" placeholder="اسم المستخدم" required/>
					<input type="email" name="email" id="email" placeholder="البريد الالكتروني" required/>
					<input type="password" name="password" id="password" placeholder="كلمه المرور" required/>
					<button type="submit">اضافة</button>
					<button><a href="/nabtker/dashboard">خروج</a> </button>
					<br /><br />
				</form>
			</div>
		</div>
		<br /><br />
		<footer>
			<h3>
				جميع الحقوق محفوظه لدى <span><a class="ar" href="">نبتكر</a></span>
			</h3>
		</footer>

	</body>
</html>
