<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" />
		<link href="css/style.css" rel="stylesheet" />

		<title>الرئسية</title>
	</head>

	<body bgcolor="bisque">
		<nav class="main">
			<div class="container">
				<ul class="menu">
					<li class="li"
						><a href="/"><strong>الرئيسية</strong></a></li
					>
					<li class="study"
						><a><strong>أخبار</strong></a>
						<ol class="sub-menu">
							<li><a id="sp" href="">الجامعة</a></li>
							<li><a id="sp" href="">الدراسة</a></li>
						</ol>
					</li>
					<li class="content-li"
						><a><strong>محتوى</strong></a>
						<ol class="sub-menu">
							<li class="arrow"
								><a id="sp"><strong>علمي</strong></a>
								<ol class="sub-sub-menu">
									<li><a id="sp" href="">Javascript</a></li>
									<li><a id="sp" href="">PHP</a></li>
									<li><a id="sp" href="">Python</a></li>
								</ol>
							</li>
							<li><a id="sp" href="">ديني</a></li>
						</ol>
					</li>
					<li class="li"
						><a href="#"><strong>من نكون</strong></a></li
					>
					<div class="logo">
						<a href="#"><img src="/img/logo.png" /></a>
					</div>
				</ul>
			</div>
		</nav>

		<div class="cls"></div>
		<div class="top"></div>
		<p></p>

		<marquee behavior="scroll" width="100%" scrollamount="1" scrolldelay="25" truespeed direction="right"> دليلك الاول نحو التميز انضم الان واحصل علي متعت التعلم </marquee>
		<div class="container info">
			<h1>نبتكر لنتميز</h1>
			<p>
				لم يخلق الانسان متعلما ، لذلك لا تيأس من التجربة الأولي بل تعلم من الأولي وجرب ثانية وثالثة حتي تنجح <br />
				الاشخاص الناجحين لايتوففون عن التعلم
			</p>
		</div>
		<p></p>
		<div class="container">
			<video src="" controls width="500"> </video>
		</div>
		<div class="container">
			<div class="home-book">
				<br />
				<h3><span>قائمه الكتب</span></h3>
				<br />
				<section class="books"> </section>
				<div class="more-book show-more-book">
					<button>عرض المزيد</button>
				</div>
			</div>
		</div>
		<br /><br />
		<footer class="footer">
			<h3>
				جميع الحقوق محفوظه لدى <span><a class="ar" href="">نبتكر</a></span>
			</h3>
		</footer>
		<script src="js/booksList.js"></script>
	</body>
</html>
